name: Docker CLI Build & Push

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: |
          make all-bitcoin

      # - name: Build image using Docker CLI
      #   run: |
      #     docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/my-image:latest .

      # - name: Push image
      #   run: |
      #     docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-image:latest
